.mainLayout {
    width: 100%;
    display: flex;
    background: #1e2224;
    color: aliceblue;
    /*flex-wrap: wrap;*/
}

.LogoOutlet {
  width: 100%;
}

.fatherOutlet {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}